body {
    margin: 0;
    height: calc(100vh - 100px);
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

p{
    margin:0;
}

h1{
    margin:0;
}

.row{
    display:inline-block;
    clear: both;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.cell{
    display:inline-block;
    float:left;
    min-height: 141px;
    width: calc(25% - 2px);
    height:100%;
    border: 1px solid black;
    text-align: center;
}

.bg-img{
    position:relative;
    display:inline-block;
    width:100%;
    height:calc(127.19px*0.66);
}

.media-name{
    position:relative;
    display: inline-block;
    height:calc(138px - (127.19px*0.66));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

.general{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(12, 8%);
    grid-gap: 5px;
    grid-template-areas:
        "title navbar navbar navbar"
        "instructions instructions instructions alert"
        "table table vjs-poster vjs-poster"
        "table table vjs-poster vjs-poster"
        "table table vjs-poster vjs-poster"
        "table table vjs-poster vjs-poster"
        "table table project project"
        "table table project project"
        "table table project project"
        "table table project project"
        "table-buttons table-buttons project-buttons project-buttons"
        "footer footer footer footer";
    height:100%;
}

.title{
    grid-area: title;
    background-color: aliceblue;
}

.navbar{
    grid-area: navbar;
    background-color: crimson;
    font-size: 150%;
}

.instructions{
    grid-area: instructions;
    background-color: antiquewhite;
}

.alert{
    grid-area: alert;
    background-color: lavender;
}

.table{
    grid-area: table;
    overflow-y: scroll;
    position:relative;
    display: inline-block;
    background-color: lightcyan;
}

.table-buttons{
    grid-area: table-buttons;
    display: inline-block;
    background-color: chartreuse;
}

#my-player{
    width:100%;
    height:100%;
    grid-area: vjs-poster;
    background-color: chocolate;
}

.project{
    overflow-y: scroll;
    grid-area: project;
    background-color: darkgrey;
}

.project-title{
    font-weight: bold;
}

.bin{
    font-weight: bold;
    font-style: italic;
}

.project-buttons{
    grid-area: project-buttons;
    background-color: darkolivegreen;
}

.footer{
    grid-area: footer;
    background-color: goldenrod;
    text-align: center;
}

.deleteButton{
    float:right;
    height:20px;
    width:20px;
    text-align: center;
    text-decoration: none;
    background-color:red;
    padding:0px;
}

.deleteMediaButton{
    float:right;
    height:20px;
    width:20px;
    text-align: center;
    text-decoration: none;
    background-color:red;
    padding:0px;
}