<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>Login</h1>
    <p>Welcome to my_MAM</p>
    <p>Please log yourself</p>
    <form action="/" method="post" enctype="application/x-www-form-urlencoded">
        <label for="email">email</label>
        <input id="email" type="email" name="email" required></input>
        <br>
        <label for="password">password</label>
        <input id="password" type="password" name="password" required></input>
        <br>
        <button type="submit">Login</button>
    </form>
  </body>
</html>
